{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      {% if app.request.locale != 'pl' %}
        <div class='row'>
          <div class='col-12 text-center'>
            This page is reserved only for polish native speakers. Sorry for inconvenience.<br/><br/>
            <form action='{{ path('balticrobo_website_locale_changelocale', {locale: 'pl'}) }}' method='post'>
              <button type='submit' class='btn btn-primary'>
                Go to polish site
              </button>
            </form>
          </div>
        </div>
      {% else %}
        <div class='row'>
          <div class='col-12'>
            <h1>{{ 'volunteer.home.header'|trans }}</h1>
          </div>
          <div class='col-12 pb-5'>
            Dziękujemy za zgłoszenie! Skontaktujemy się z Tobą niebawem!<br/>
            Nie zapomnij zapoznać się z
            <a target='_blank'
                href='{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/files/bbr2019_volunteer.pdf'>
              porozumieniem.
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
