{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper d-print-none'>
    {% include '_common/header.html.twig' %}
  </div>
  <div class='d-print-none'>
    {% include '_common/menu.html.twig' %}
  </div>
  <div class='wrapper'>
    <div class='container'>
      <div class='d-none d-print-block'>
        {% include '_common/header_print.html.twig' with {competition: rule.eventCompetition.competition.name} %}
      </div>
      <div class='row rule'>
        <div class='d-block d-print-none'>
          <h2>
            {{ 'event.rule._screen_header'|trans({'%competition%': rule.eventCompetition.competition.name})|raw }}
          </h2>
        </div>
        <div class='container-fluid'>
          {{ rule.content|raw }}<br/>
          <div class='text-right'>
            {{ 'event.rule.last_modified_at'|trans }}: <strong>{{ rule.lastUpdateAt|date('Y-m-d H:i') }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
