{% extends '_base.html.twig' %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-block btn-primary">{{ 'buttons.register'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
