/.misc/docker/
/.misc/deploy_rsa.enc

/_mail/dist/
/_mail/node_modules/
/_mail/config.json

/_snippets/

/assets/js/assets.js

/node_modules/
/var/
/vendor/


/public/build/
/public/bundles/
/public/email/
/public/upload/

/templates/_mail/

/dist/
