# Secrets and cache
/.env
/var
/public/build
/public/bundles
/public/email
/assets/js/assets.js
/public/upload

# Emails
/templates/_mail/*
!/templates/_mail/.gitkeep

# Composer & Yarn
/vendor
/node_modules/
/npm-debug.log
/yarn-error.log

# Static analyze
/.php_cs
/.php_cs.cache
/phpcs.xml
