###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

# Secrets and cache
/assets/js/assets.js
/public/build/
/public/email/
/public/upload/

# Emails
/templates/_mail/*
!/templates/_mail/.gitkeep

# Composer & Yarn
/node_modules/
npm-debug.log
yarn-error.log
