{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2'>
          {% if event.schedule %}
          <img src='{{ event.schedule.address }}' alt='' class='img-fluid'/>
          {% else %}
          <div class='alert alert-warning'>
            <i class='fa fa-fw fa-exclamation-triangle'></i>
            {{ 'default.schedule.will_be_posted_soon'|trans }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
