{% extends '_base.html.twig' %}

{% block body %}
  <div class='wrapper'>
    {% include '_common/header.html.twig' %}
  </div>
  {% include '_common/menu.html.twig' %}
  <div class='wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2 text-justify'>
          <h1>{{ 'default.terms.header'|trans }}</h1>
          {% if app.request.locale == 'pl' %}
<section>
  <h3 class='text-center'>&sect; 1 [Zakres]</h3>
  Niniejszy regulamin (dalej zwany Regulaminem) określa zasady uczestnictwa w&nbsp;wydarzeniu „Bałtyckie Bitwy Robotów
  2019”, które odbędzie się w&nbsp;dniach 17-19.05.2019r.&nbsp;(dalej zwanym Wydarzeniem). Organizatorami Wydarzenia
  są: Stowarzyszenie Robotyków SKALP oraz Koło Naukowe NKSA (dalej łącznie zwane Organizatorami). Wydarzenie odbędzie
  się na&nbsp;terenie Gdańskiego Parku Naukowo-Technologicznego, ul&nbsp;Trzy Lipy 3,&nbsp;Gdańsk (zwanym dalej Terenem
  Zawodów).
</section>
<section>
  <h3 class='text-center'>&sect; 2 [Uczestnicy]</h3>
  Każda osoba przebywająca w&nbsp;trakcie Wydarzenia na&nbsp;Terenie Zawodów (dalej zwana Uczestnikiem) zobowiązana jest
  do&nbsp;przestrzegania Regulaminu. Uczestnicy biorący udział w&nbsp;zawodach (dalej zwani Zawodnikami), zobowiązani
  są&nbsp;ponadto do&nbsp;przestrzegania regulaminów konkurencji, w&nbsp;których biorą udział.
</section>
<section>
  <h3 class='text-center'>&sect; 3 [Liczba udostępnionych miejsc]</h3>
  Ze&nbsp;względów bezpieczeństwa, liczba Uczestników przebywających na&nbsp;terenie imprezy podlega kontroli
  Organizatorów. Jednorazowo na&nbsp;Terenie Zawodów przebywać może 450 uczestników (maksymalna liczba uczestników).
  W&nbsp;przypadku osiągnięcia maksymalnej liczby uczestników, Organizatorom przysługuje prawo niedopuszczenia kolejnych
  osób na&nbsp;Teren Zawodów. Osobom tym nie przysługują z&nbsp;tego tytułu żadne roszczenia względem Organizatorów.
</section>
<section>
  <h3 class='text-center'>&sect; 4 [Wstęp]</h3>
  Wstęp na&nbsp;Teren Zawodów w&nbsp;trakcie trwania jest bezpłatny, z&nbsp;zastrzeżeniem zdania drugiego. Regulaminy
  poszczególnych konkurencji, o&nbsp;których mowa w&nbsp;&sect;2 mogą przewidywać opłatę za&nbsp;uczestnictwo
  w&nbsp;Wydarzeniu w&nbsp;charakterze Zawodnika. W&nbsp;sytuacji określonej w&nbsp;zdaniu poprzednim, dopuszczenie
  przez Organizatora Zawodnika do&nbsp;konkurencji uzależnione jest od&nbsp;uiszczenia opłaty.
</section>
<section>
  <h3 class='text-center'>&sect; 5 [Zgłoszenia Zawodników]</h3>
  Zgłoszenia Zawodników dokonywane są&nbsp;za pośrednictwem platformy internetowej lub, w&nbsp;szczególnych
  przypadkach, na&nbsp;adres poczty internetowej
  <a href="mailto:weronika.narloch@srskalp.pl">weronika.narloch@srskalp.pl</a>, w&nbsp;terminie 01.04 - 25.04.2019r.
</section>
<section>
  <h3 class='text-center'>&sect; 6 [Osoby Małoletnie]</h3>
  Zawodnicy, którzy nie ukończyli osiemnastego roku życia (małoletni), w&nbsp;celu dopuszczenia do&nbsp;zawodów
  przedstawić muszą organizatorowi zawodów pisemne oświadczenie opiekuna prawnego o&nbsp;wyrażeniu zgody
  na&nbsp;uczestnictwo osoby małoletniej w&nbsp;zawodach, którego wzór stanowi załącznik nr&nbsp;1&nbsp;do Regulaminu.
  Małoletni Uczestnicy przebywać muszą na&nbsp;Terenie Zawodów pod stałą opieką swoich opiekunów prawnych lub osób
  przez nich wyznaczonych, na&nbsp;ich odpowiedzialność.
</section>
<section>
  <h3 class='text-center'>&sect; 7 [Przepisy porządkowe]</h3>
  Uczestnicy imprezy są&nbsp;obowiązani zachowywać się w&nbsp;sposób niezagrażający bezpieczeństwu innych uczestników
  imprezy. Uczestników obowiązuje zakaz spożywania oraz pozostawania pod wpływem alkoholu lub innych środków
  psychoaktywnych oraz palenia tytoniu na&nbsp;Terenie Zawodów. Uczestnicy niebędący Zawodnikami zobowiązani
  są&nbsp;do przebywania w&nbsp;miejscach przeznaczonych dla widzów. Uczestnicy zobowiązani są&nbsp;do przestrzegania
  wewnętrznych przepisów porządkowych obowiązujących na&nbsp;Terenie Zawodów oraz do&nbsp;stosowania się
  do&nbsp;poleceń osób działających w&nbsp;imieniu Organizatora. Organizatorowi przysługuje prawo wyproszenia
  z&nbsp;terenu imprezy osoby, której zachowanie zagraża bezpieczeństwu innych uczestników lub które narusza porządek
  publiczny, w&nbsp;szczególności poprzez niestosowanie się do&nbsp;Regulaminu lub poleceń opisanych w&nbsp;zdaniu
  poprzednim. Osobie takiej nie przysługuje z&nbsp;tego tytułu żadne roszczenia względem Organizatorów. Na&nbsp;Terenie
  Zawodów zakazuje się prowadzenia bez zezwolenia Organizatora jakiejkolwiek działalności handlowej, zarobkowej,
  promocyjnej, reklamowej lub agitacji politycznej.
</section>
<section>
  <h3 class='text-center'>&sect; 8 [Odpowiedzialność]</h3>
  Organizatorzy nie ponoszą odpowiedzialności za&nbsp;zmianę planu Wydarzenia, zmianę daty i&nbsp;miejsca Wydarzenia lub
  odwołania Wydarzenia z&nbsp;przyczyn niezależnych od&nbsp;Organizatorów. Organizatorzy nie ponoszą odpowiedzialności
  za&nbsp;szkody wyrządzone przez skonstruowane przez Zawodników urządzenia (roboty) i&nbsp;oprogramowania
  &mdash;&nbsp;biorące udział w&nbsp;zawodach. Organizatorzy nie ponoszą odpowiedzialności za&nbsp;szkody wyrządzone
  przez udostępnione Uczestnikom materiały, narzędzia oraz urządzenia, w&nbsp;przypadku w&nbsp;którym szkoda wynikła
  z&nbsp;niewłaściwego posługiwania się tymi środkami. Organizatorzy nie ponoszą odpowiedzialności za&nbsp;rzeczy
  pozostawione przez Uczestników na&nbsp;Terenie Zawodów. Z&nbsp;tytułu wymienionych okoliczności Uczestnikom nie
  przysługują względem Organizatorów żadne roszczenia. Każdy Uczestnik ma&nbsp;świadomość, że&nbsp;uczestniczy
  w&nbsp;Wydarzeniu na&nbsp;własne ryzyko oraz że&nbsp;może ponosić odpowiedzialność za&nbsp;szkody lub straty
  wynikające z&nbsp;jego działań. Organizatorzy nie zapewniają Uczestnikom ubezpieczenia na&nbsp;czas Wydarzenia; leży
  ono w&nbsp;wyłącznej gestii Uczestników.
</section>
<section>
  <h3 class='text-center'>&sect; 9 [Przetwarzanie danych osobowych]</h3>
  Przebieg Wydarzenia podlegać będzie utrwalaniu przez Organizatorów w&nbsp;postaci obrazów cyfrowych, w&nbsp;związku
  z&nbsp;czym istnieje możliwość utrwalenia danych biometrycznych w&nbsp;postaci wizerunków Uczestników. Obrazy
  te&nbsp;mogą podlegać rozpowszechnieniu w&nbsp;mediach oraz być wykorzystywane w&nbsp;celach marketingowych
  i&nbsp;informacyjnych. Wejście na&nbsp;Teren Zawodów jest jednoznaczne z&nbsp;wyrażeniem zgody przez Uczestnika
  na&nbsp;przetwarzanie swoich danych osobowych w&nbsp;rozumieniu przepisów Rozporządzenia Parlamentu Europejskiego
  i&nbsp;Rady 2016/679 z&nbsp;dnia 27&nbsp;kwietnia 2016r.&nbsp;w&nbsp;sprawie ochrony osób fizycznych w&nbsp;związku
  z&nbsp;przetwarzaniem danych osobowych i&nbsp;w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy
  95/46/WE (ogólne rozporządzenie o&nbsp;ochronie danych), tzw. RODO, w&nbsp;celu promocji Wydarzenia
  i&nbsp;działalności Organizatorów. Zasady przetwarzania danych osobowych Uczestników określone są&nbsp;w&nbsp;Klauzuli
  Informacyjnej RODO, stanowiącej załącznik nr&nbsp;2&nbsp;do Regulaminu.
</section>
<section>
  <h3 class='text-center'>&sect; 10 [Nagrody]</h3>
  Organizator może wedle własnego uznania przyznać Uczestnikom będącym osobami fizycznymi nieprowadzącymi działalności
  gospodarczej lub prowadzącymi działalność rolniczą &mdash;&nbsp;nagrody rzeczowe o&nbsp;jednostkowej wartości
  nieprzekraczającej 2.000,00 zł.
</section>
<section>
  <h3 class='text-center'>&sect; 11 [Postanowienia końcowe]</h3>
  Organizatorzy zastrzegają sobie prawo do&nbsp;zmiany Regulaminu, którego obowiązująca wersja dostępna będzie
  na&nbsp;stronie internetowej
  <a href="{{ path('balticrobo_website_default_terms') }}">{{ url('balticrobo_website_default_terms') }}</a> oraz
  na&nbsp;Terenie Zawodów w&nbsp;trakcie trwania Wydarzenia.<br/>
  Właściwą wersją językową Regulaminu jest język polski. W&nbsp;przypadku jakichkolwiek rozbieżności pomiędzy
  poszczególnymi wersjami wiążącą jest wersja polska.<br/>
  Regulamin podlega prawu polskiemu. Wszelkie spory wynikające z&nbsp;Regulaminu lub z&nbsp;nim związane będą poddawane
  pod rozstrzygnięcie właściwego rzeczowo sądu w&nbsp;Gdańsku.
</section>
          {% else %}
            Check Polish version of page for general tournament terms. Sorry for inconvenience.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
