.header {
  display: table;
  position: relative;
  background-size: cover;
  width: 100%;
  height: calc(100vh - #{$navbar-brand-height});
  min-height: 138px;
  max-height: 230px;

  @include media-breakpoint-up(sm) {
    min-height: 184px;
    max-height: 307px;
  }

  @include media-breakpoint-up(md) {
    min-height: 238px;
    max-height: 397px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 288px;
    max-height: 480px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 461px;
    max-height: 768px;
  }

  &-pl {
    background: url("../img/main_background/576-pl.png") no-repeat fixed center top;

    @include media-breakpoint-up(sm) {
      background: url("../img/main_background/768-pl.png") no-repeat fixed center top;
    }

    @include media-breakpoint-up(md) {
      background: url("../img/main_background/992-pl.png") no-repeat fixed center top;
    }

    @include media-breakpoint-up(lg) {
      background: url("../img/main_background/1200-pl.png") no-repeat fixed center top;
    }

    @include media-breakpoint-up(xl) {
      background: url("../img/main_background/1920-pl.png") no-repeat fixed center top;
    }
  }

  &-en {
    background: url("../img/main_background/576-en.png") no-repeat fixed center top;

    @include media-breakpoint-up(sm) {
      background: url("../img/main_background/768-en.png") no-repeat fixed center top;
    }

    @include media-breakpoint-up(md) {
      background: url("../img/main_background/992-en.png") no-repeat fixed center top;
    }

    @include media-breakpoint-up(lg) {
      background: url("../img/main_background/1200-en.png") no-repeat fixed center top;
    }

    @include media-breakpoint-up(xl) {
      background: url("../img/main_background/1920-en.png") no-repeat fixed center top;
    }
  }
}
