.header {
  display: table;
  position: relative;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 63px);
  min-height: 138px;
  max-height: 230px;

  @include media-breakpoint-only(sm) {
    height: calc(100vh - 69px);
    min-height: 184px;
    max-height: 307px;
  }

  @include media-breakpoint-only(md) {
    height: calc(100vh - 73px);
    min-height: 238px;
    max-height: 397px;
  }

  @include media-breakpoint-only(lg) {
    min-height: 288px;
    max-height: 480px;
  }

  @include media-breakpoint-only(xl) {
    min-height: 461px;
    max-height: 768px;
  }

  &-pl {
    background: url("576-pl.png") no-repeat fixed center top;

    @include media-breakpoint-only(sm) {
      background: url("768-pl.png") no-repeat fixed center top;
    }

    @include media-breakpoint-only(md) {
      background: url("992-pl.png") no-repeat fixed center top;
    }

    @include media-breakpoint-only(lg) {
      background: url("1200-pl.png") no-repeat fixed center top;
    }

    @include media-breakpoint-only(xl) {
      background: url("1920-pl.png") no-repeat fixed center top;
    }
  }

  &-en {
    background: url("576-en.png") no-repeat fixed center top;

    @include media-breakpoint-only(sm) {
      background: url("768-en.png") no-repeat fixed center top;
    }

    @include media-breakpoint-only(md) {
      background: url("992-en.png") no-repeat fixed center top;
    }

    @include media-breakpoint-only(lg) {
      background: url("1200-en.png") no-repeat fixed center top;
    }

    @include media-breakpoint-only(xl) {
      background: url("1920-en.png") no-repeat fixed center top;
    }
  }
}
