.row.rules {
  button.btn-block {
    margin: ($spacer / 4) 0;
  }
}

.modal.rule {
  ol {
    list-style-type: none;
    counter-reset: list-counter;
    padding: 0;

    & > li:before {
      counter-increment: list-counter;
      content: counters(list-counter, ".") ".";
    }

    & > li > ol {
      counter-reset: list-counter;
      padding: 0 0 0 $spacer;
    }
  }
}