.header {
  background: $light-gray;

  .container {
    background: transparent;
  }

  .columns {
    padding-bottom: 0;
  }

  p {
    color: #fff;
    padding-top: 15px;
  }

  .wrapper-inner {
    padding: 20px;
  }
}
