$logo-size-sm: $spacer * 5;
$logo-size: $spacer * 8;

.competition {
  box-shadow: 0 -8px 20px 2px darken(theme-color('primary'), 10%);
  margin: ($spacer * 1.5) $spacer 0;
  padding: $spacer / 2;
  flex: 0 0 calc(100% - 27px);
  align-items: center;
  justify-content: center;
  height: $logo-size-sm;
  flex-direction: row;
  cursor: pointer;

  span {
    width: 70%;
    text-align: center;
    font-family: $headings-font-family;
    font-size: $h5-font-size;
  }

  .icon {
    width: 30%;
    max-width: $logo-size-sm;
    height: 100%;

    &.sumo {
      background: url('sumo.svg') no-repeat center center;
      background-size: contain;
    }

    &.line_follower {
      background: url('linefollower.svg') no-repeat center center;
      background-size: contain;
    }

    &.micromouse {
      background: url('micromouse.svg') no-repeat center center;
      background-size: contain;
    }

    &.freestyle {
      background: url('freestyle.svg') no-repeat center center;
      background-size: contain;
    }

    &.lego {
      background: url('lego.svg') no-repeat center center;
      background-size: contain;
    }

    &.robohackathon {
      background: url('robohackathon.svg') no-repeat center center;
      background-size: contain;
    }
  }

  @include media-breakpoint-only(sm) {
    span {
      font-size: $h6-font-size;
    }
  }

  @include media-breakpoint-up(sm) {
    height: $logo-size;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    .icon {
      max-width: $logo-size;
      font-size: $h4-font-size;
    }
  }

  @include media-breakpoint-up(lg) {
    span {
      font-size: $h3-font-size;
    }
  }
}
