.img-social {
  width: 50px;
  height: 100%;

  &-big {
    width: 100px;

    @include media-breakpoint-only(md) {
      width: 90px;
    }
  }
}

.img-logo-short {
  width: 100%;
  max-width: 350px;

  &-print {
    max-width: 200px;
  }
}

.img-logo-circle {
  width: 100%;
  max-width: 500px;
}

.img-registration {
  width: 100%;
  max-width: 120px;
  margin: $spacer 0;
}