.img-social {
  width: 50px;
  height: 100%;

  &-big {
    width: 100px;

    @include media-breakpoint-only(md) {
      width: 90px;
    }
  }
}

.img-logo-short {
  width: 100%;
  max-width: 350px;
}

.img-logo-circle {
  width: 100%;
  max-width: 500px;
}
