{% extends '_admin_base.html.twig' %}

{% block body %}
  <div class='row'>
    <div class='col-12'>
      {{ form_start(form, {class: 'form', attr: {novalidate: 'novalidate'}}) }}
      <div class='row'>
        <div class='col-12'>
          {{ form_rest(form) }}
        </div>
        <div class='col-12 col-sm-6 offset-sm-6'>
          <button type="submit" class="btn btn-block btn-primary">{{ '_button.edit'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
